@model StockManageWeb.Models.ProductVM
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<div class="row" style="margin-left:5%">
    <form method="post">

        <tr>
            <td><h4 class="text-primary">Search</h4></td>
            <td><input class="text-primary" type="text" name="Name" value="@Model.Name" /></td>

        </tr>

        <tr>
            <td></td>
            <td><input class="text-primary" type="submit" value="Search" /></td>

        </tr>
    </form>
</div>

<div class="col-lg-12">

    <table class="table table-striped row">
        <thead>
            <tr>
                <th>Sl</th>
                <th>Product Name</th>
                <th>Product Code</th>
                <th>Product Category</th>
                <th>Product Reoreder Level</th>
                <th>Product Discriptions</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            @{int sl = 1; }
            @foreach (var i in Model.products)
            {
                <tr>
                    <td>@(sl++ )</td>
                    <td>@i.Name</td>
                    <td>@i.Code</td>
                    <td>@i.CategoryID</td>
                    <td>@i.ReorderLevel</td>
                    <td>@i.Discription</td>
                    <td><a href="/Product/Edit?id=@i.ID" class="btn btn-primary" name="Name">Edit</a></td>
                    <td><a href="/Product/Delete?id=@i.ID" class="btn btn-danger">Delete</a></td>
                </tr>
            }


        </tbody>
    </table>
</div>