@model StockManageWeb.Models.CategoryVM
@{


    ViewBag.Title = "Add Category";
}

<h2 class="alert alert-info text-center">Add</h2>
@if (ViewBag.message != null)
{
    <div class="@ViewBag.color">@ViewBag.message</div>

}
<form method="post">



    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6 center">
            <h6 class="text-bold">Category Name</h6>
            <input class="form-control" type="text" name="Name" value="@Model.Name" />
            @Html.ValidationMessageFor(c => c.Name, null, new { @class = "text-danger" })


            <h6 class="text-bold">Category Code</h6>
            <input class="form-control" type="text" name="Code" value="@Model.Code" />
            @Html.ValidationMessageFor(c => c.Code, null, new { @class = "text-danger" })



            <input class="btn btn-success" type="submit" value="Add" />
        </div>
        <div class="col-3">

        </div>

    </div>

</form>



<table class="table table-striped col-12" style="align-content:center">
    <thead>
        <tr>
            <th>Sl</th>
            <th>Category Name</th>
            <th>Category Code</th>
        </tr>
    </thead>
    <tbody>

        @{int sl = 1; }
        @foreach (var i in Model.categories)
        {
            <tr>
                <td>@( sl)</td>
                <td>@i.Name</td>
                <td>@i.Code</td>
                <td><a href="/Category/Edit?id=@i.ID" class="btn btn-primary" name="Name">Edit</a></td>
                <td><a href="/Category/Delete?id=@i.ID" class="btn btn-danger">Delete</a></td>
            </tr>
        }


    </tbody>
</table>

@*@section scritps{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}*@